## init yovd process

on post-fs
    chmod 0777 /system/bin/gocsdk
    chmod 0777 /system/bin/blink
    chmod 0777 /system/bin/blink5876
    chmod 0777 /system/bin/gocsdks
    chmod 0777 /system/bin/gocsdks_8_1
    chmod 0777 /sys/class/yunovo/yun_bt/bt_on
    chmod 0777 /sys/class/yunovo/yun_fm/fm_on
    chmod 0777 /sys/class/yunovo/yun_fm/fm_hz
    chmod 0777 /sys/class/yunovo/yun_fm/fm_mute
    chmod 0777 /sys/class/yunovo/yun_etc/etc_on
    chmod 0777 /sys/class/yunovo/yun_obd/obd_on
    chmod 0777 /sys/class/yunovo/yun_usb/force_usb_device

    chmod 0775 /custom

#sprd audio dsp
    chmod 0777 /dev/i2c-0
    chmod 0777 /dev/i2c-1
    chmod 0777 /dev/i2c-2
    chmod 0777 /dev/i2c-3
    chmod 0777 /dev/i2c-4
# sprd mcu
    chmod 0777 /dev/ttyS2

on boot
    chown system system /custom/yunovo


service yovd /system/bin/yovd
    class main

## bt goc service
service gocsdk /system/bin/gocsdk
    class main
    user root
    group root
    disabled

on property:persist.sys.start.gocsdk=1
    start gocsdk

on property:persist.sys.start.gocsdk=0
    stop gocsdk

## bt blink service
service blink /system/bin/blink
    class main
    user root
    group root
    disabled

on property:persist.sys.start.blink=1
    start blink

on property:persist.sys.start.blink=0
    stop blink

## 蓝牙主从切换
service devicecontrol /system/bin/devicecontrol
    class main
    user root
    group root
    disabled

on property:persist.sys.start.devicecontrol=1
    start devicecontrol

on property:persist.sys.start.devicecontrol=0
    stop devicecontrol

## yovbt service
service yovbt /system/bin/yovbt
    class main
    user root
    group root
    disabled

on property:persist.sys.start.yovbt=1
    start yovbt

on property:persist.sys.start.yovbt=0
    stop yovbt

## bt gocs service 5.1
service gocsdks /system/bin/sh -c "LD_LIBRARY_PATH=/system/lib/hw gocsdks"
    class main
    user root
    group root
    disabled

## bt gocs service 8.1
service gocsdks_8_1 /system/bin/gocsdks_8_1
    class main
    user root
    group root
    disabled

on property:persist.sys.start.gocsdks=1
    start gocsdks
    start gocsdks_8_1

on property:persist.sys.start.gocsdks=0
    stop gocsdks
    stop gocsdks_8_1


## service killgmap /system/bin/sh -c "A=$(ps vi.amapautolite |grep -Eow [0-9]+\ );kill ${A%% *}"
service killgmap /system/bin/sh -c "A=$(ps | grep -E 'amapautolite$|amapauto$'); if [[ -n $A ]];then array=(${A//\ / });kill ${array[1]}; else echo not_find_process; fi"
    class main
    user root
    group root
    disabled
    oneshot

